<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
     <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/manageAcc</url-pattern>
        <url-pattern>/manageSto</url-pattern>
        <url-pattern>/add</url-pattern>
        <url-pattern>/addChap</url-pattern>
        <url-pattern>/addSt</url-pattern>
        <url-pattern>/deleteCh</url-pattern>
        <url-pattern>/deleteSt</url-pattern>
        <url-pattern>/editAcc</url-pattern>
        <url-pattern>/updateSt</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/comment</url-pattern>
         <url-pattern>/manageAcc</url-pattern>
        <url-pattern>/manageSto</url-pattern>
        <url-pattern>/add</url-pattern>
        <url-pattern>/addChap</url-pattern>
        <url-pattern>/addSt</url-pattern>
        <url-pattern>/deleteCh</url-pattern>
        <url-pattern>/deleteSt</url-pattern>
        <url-pattern>/editAcc</url-pattern>
        <url-pattern>/updateSt</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
